body,
html {
    margin: 0;
}

html {
    height: 100%;

}

body {
    height: inherit;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    /*background-color: rgba(255, 3, 3, 0.839);*/
    text-align: center;

}

h1,
p,
.input {
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}


ul {
    margin: 0;
}

.hints span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#inputobj1 {
    width: 250px;
    height: 75px;
    /*
    background-color: rgb(2, 0, 0);
    */
    color: rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

#inputobj1::placeholder{
    color: black;
}

#inputobj1:focus {
    background-color: rgb(2, 0, 0);
    color: white;
    outline: none;
}

#inputobj1:focus::placeholder {
    color: white;
    font-weight: bold;

}

#inputobj2 {
    /*
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    */
    border-radius: 10px;
    text-transform: uppercase;
    outline: 0;
    
    /*
    background-color: rgb(200, 9, 9);
    */

    width: 120px;
    height: 80px;
    border: 0;
    padding: 15px;

    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#inputobj2:hover {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;




}

*:focus,
*:hover {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}